.section__form {
  width: 60%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form__container {
  width: 60%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 6px;
  background-color: transparent;
  filter: blur(100%);
  font-family: "Raleway", sans-serif;
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.6);
}

.form__title {
  font-size: 24px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
}

.formRegister {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  font-family: "Raleway", sans-serif;
  width: 80%;
  height: 60%;
}

.input__container-forms {
  display: flex;
  flex-direction: column;
  margin: 12px 0px;
  width: 100%;
}

.input__container-forms input {
  height: 40px;
  border-radius: 4px;
  padding: 0px 12px;
  border: none;
  outline: none;
  transition: 0.3s ease;
  margin: 4px 0px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
}

.input__container-forms input::placeholder {
  font-size: 14px;
  font-weight: bolder;
}

.input__container-forms input:focus {
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
}

.btn__submit {
  height: 50px;
  width: 120px;
  border: none;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  background: linear-gradient(334deg, #6b97f7, #7525e2, #f7137e);
  background-size: 180% 180%;
  animation: gradient-animation 6s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.IGAC {
  font-size: 18px;
  text-decoration: underline;
  cursor: pointer;
}

.IGAC:hover {
  color: #7525e2;
}
