.lateralMenu__logo{
    width: 100%;
}

.lateralMenu__container{
    width: 15%;
    height: 100vh;
    background-color: #ffffff;
    padding: 0px 64px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Raleway', sans-serif;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}

.lateralMenu__list{
    height: 70%;
    padding: 4px 4px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.profileList{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 40%;
}

.GshopList{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 55%;
}

.items__list{
    height: 30px;
    width: 100%;
    background-color: #fff;
    display: flex;
    align-items: center;
    border-radius: 6px;
    padding-left: 10px;

    cursor: pointer;
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.2);
    border: none;
}

.items__list:hover{
    background: #3a3a3a;
    color: #fff;
    transition: 0.2s;
}
