/*Circles*/
/* .circle{
    position: fixed;
    z-index: -99;
    top: 40%;
    left: 85%;
    border-radius: 150px;
    height: 300px;
    width: 300px;
    background: radial-gradient(ellipse at center, rgb(218, 84, 218), rgb(117, 8, 117));
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.7);
}

.circle1{
    position: fixed;
    z-index: -99;
    top: 10%;
    left: 50%;
    border-radius: 100px;
    height: 200px;
    width: 200px;
    background: radial-gradient(ellipse at center, rgb(153, 153, 231), rgb(5, 5, 95));
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.7);
}

.circle2{
    position: fixed;
    z-index: -99;
    top: 70%;
    left: -7%;
    border-radius: 100px;
    height: 200px;
    width: 200px;
    background: radial-gradient(ellipse at center, rgb(153, 153, 231), rgb(5, 5, 95));
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.7);
} */


