.section__form {
  width: 60%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
}

.form__container {
  height: 80%;
  width: 60%;
  border: none;
  border-radius: 8px;
  color: #fff;
  background: linear-gradient(334deg, #6b97f7, #7525e2, #f7137e);
  background-size: 180% 180%;
  animation: gradient-animation 6s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.formRegister {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-family: "Raleway", sans-serif;
  width: 80%;
}

.input__container {
  display: flex;
  flex-direction: column;
  margin: 12px 0px;
}

.input__container-names input {
  height: 40px;
  border-radius: 4px;
  padding: 0px 12px;
  border: none;
  outline: none;
  transition: 0.3s ease-out;
  margin: 4px 0px;
}

.input__container input {
  height: 40px;
  border-radius: 4px;
  padding: 0px 12px;
  border: none;
  outline: none;
  transition: 0.3s ease-out;
  margin: 4px 0px;
}

.input__container input::placeholder {
  font-size: 14px;
  font-weight: bolder;
}

.input__container input:focus {
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
}
