.productsContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.moreProducts{
    color: #fff;
    border: none;
    background-color: #3f3fbd;
    margin-top: 20px;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-weight: 500;
    height: 35px;
    width: 100px;
    border-radius: 4px;
    cursor: pointer;
}

.moreProducts:hover{
    background-color: #2626be;
}

.principalProducts__section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 32px 0px;
}

.principalProducts__title{
    margin-bottom: 22px;
    font-family: 'Raleway', sans-serif;
    font-size: 32px;
    font-weight: 700;
    color: #3a3a3a;
}